# 填入你的 API Key 即可切换到真实模型，
# API Key 可以从阿里云百炼平台获取：https://bailian.console.aliyun.com/cn-beijing?tab=model#/api-key
DASHSCOPE_API_KEY='xxx'

# .env 里二选一
TAVILY_API_KEY=tvly-xxxxx       # 自动挡
# 或
SERPER_API_KEY=xxxxx            # 手动挡



# 填入 GitHub Personal Access Token 即可连接真实 GitHub MCP Server
# 获取地址: https://github.com/settings/tokens
GITHUB_PERSONAL_ACCESS_TOKEN=your-token-here



# 接入飞书
FEISHU_APP_ID=xxxx
FEISHU_APP_SECRET=xxx
FEISHU_PORT="3000"